.blogContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blogHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blogHeading h2 {
  color: #0eb493;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  padding-top: 30px;
}

.blogBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}

.blogBody .blogPost {
  max-width: 300px;
  margin: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.blogBody .blogPost img {
  height: 200px;
  margin-bottom: 20px;
  transition: transform ease 0.3s;
}

.blogBody .blogPost h4 {
  color: black;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 8px;
  transition: all ease 0.3s;
}

.blogBody .blogPost .blogDetail {
  margin-bottom: 15px;
}

.blogBody .blogPost .blogDetail span {
  font-size: 12px;
  color: rgb(153, 153, 153);
  font-weight: 500;
  margin-right: 12px;
}

.blogBody .blogPost .blogDescription {
  font-size: 15px;
  color: rgb(73, 73, 73);
}

.blogBody .blogPost:hover {
  cursor: pointer;
}

.blogBody .blogPost:hover img {
  transform: scale(1.1);
}

.blogBody .blogPost:hover h4 {
  color: #0eb493;
  margin-top: 20px;
}
