body{
    padding: 20px 150px;
}
h3{
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: 400px;
    font-family: 'Work Sans', sans-serif; 
    color:gray; 
    display: inline-block;
}
.line{
    display: inline-block;
    position: relative;
    left: 5px;
    bottom: 3px;
    background-color: #55FF18;
    width: 120px;
    height: 2px;
    border-radius: 50px;
}
.Heading-intern h1{
    letter-spacing: -1px;
    font-size: 40px;
    font-weight: 700;
    margin:0px 0px;
    font-family: 'Work Sans', sans-serif; 
}
p{
    font-family: 'Work Sans';
}
.content{
    display: flex;
    flex-direction: row;
}
.left-content{
    
    width: 50%;
}
.right-content{
    
   width: 50%;
}
h4{
    font-family: 'Work Sans', sans-serif;
}
#boys{
    height: auto;
    width: 100%;
}
tr:nth-child(even) td{
    
    background-color: #D3D3D3;
}
.vacancy{
    font-family: 'Work Sans';
    height: 200px;
    width: 100%;
    border: 2px solid;
    border-color: #D3D3D3;
}
.tick{
    width: 20px;
    height: auto;
}

th {
  background-color: #53e053;
  color: white;
}

th,td{
     padding: 10px 12px;
}

.button {
  background-color: white;
  color: Black;
  border: 1px solid #4CAF50;
  
  padding: 5px 15px;
  text-align: center;
  margin: 4px 2px;
  padding: 2px 22px;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.btn {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 16px;
    background: #53e053;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #56cc5f;
    text-decoration: none;
  }
  @media only screen and (max-width: 600px) {
    .content{
        display: inline;
        
    }
    .left-content{
        width: 100%;
    }
    .right-content{
        width: 100%;
    }
    p{
        width: fit-content;
    }
  }