body{
	margin: 0;
	padding: 0;
	text-align: center;
	background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)),url(tree.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
.contact-title
{
	margin-top: 100px;
	color: #fff;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
}
.contact-title h1{
	font-size: 32px;
	line-height: 10px;
}
.contact-title h2{
	font-size: 16px;
}
form{
	margin-top: 50px;
	transition: all 4s ease-in-out;
}
.form-control
{
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid white;
	color: white;
	font-size: 18px;
	margin-bottom: 16px;
}
input
{
	height: 45px;
}
form .submit
{
	background: #ff5722;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}


form .submit
{
	background-color: #f44336;
	cursor: pointer;
}