::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  background: transparent;
  margin-block: 0.4em;
}

::-webkit-scrollbar-thumb {
  border: 0.21em solid transparent;
  border-radius: 100px;
  background-color: #466393;
  background-clip: content-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}
#blinking {
  margin-top: 10px;
  height: 50px;
  width: 170px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #2d405f;
  animation: blinkButton 1s infinite;
  /* background-color: white; */
}

@keyframes blinkButton {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 1;
    box-shadow: 1px 0px 30px #2d405f;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes blinkText {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 1;
    text-shadow: 1px 0px 30px #2d405f;
  }

  100% {
    opacity: 0.1;
  }
}
a {
  color: #3b4ef8;
  text-decoration: none;
}

a:hover {
  color: #6c7afa;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Krub", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #b1b8f0;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #111;
  /* color: #fff;*/
  line-height: 0;
}
.back-to-top:hover {
  background: #6272f9;
  /* color: #fff;*/
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #f6f7ff;
  border-bottom: 2px solid #eceefe;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}
#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}
#header .logo a {
  color: #2d405f;
}
#header .logo img {
  max-height: 50px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Krub", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #2d405f;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #3b4ef8;
}
.navbar .getstarted,
.navbar .getstarted:focus {
  background: #e2e5fe;
  padding: 9px 25px;
  margin-left: 30px;
  border-radius: 5px;
  font-weight: 600;
  /* color: #fff;*/
  color: #3b4ef8;
}
.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #3b4ef8;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
  font-weight: 500;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #3b4ef8;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #2d405f;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
/* .mobile-nav-toggle.bi-x { */
/* color: #fff; */
/* } */

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(29, 41, 60, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 6px;
  /*background-color: #fff;*/
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #3b4ef8;
  text-decoration: underline;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #3b4ef8;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

.event .container .section-title h2{
    padding: 20px;
    margin-top: 50px;
    font-size: 40px;
    margin-left: 470px;

}
.event .container .section-title p{
    font-size: larger;
    margin-left: 35px;
    padding-bottom: 30px;
}
.event .container{
    padding: 50px;
}
.event .event-item .event-wrap .img-fluid{
    width: 500px;
}
.event .event-item .event-wrap{
    display: flex;
    padding: 20px;
}
.event .event-item .event-wrap .event-info{
    font-size: larger;
    margin-top: 0px;
    margin-left: 80px;
}
.event .event-item .event-wrap .event-info h4{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: #111;
}
.event .event-item .event-wrap .event-info p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #111111c7;
}















/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: white;
  font-size: 14px;
  background: rgb(25, 37, 56);
  /* background-color: #031f4d; */
  /* background: #f1f3ff; */
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-top {
  padding: 20px 0 10px 0;
  /* background: #fff; */
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  /* color: #2d405f; */
  color: rgb(255, 255, 255);
}
#footer .footer-top  h3{
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 50px;
}
#footer .footer-top .footer-links h4{
  font-weight: bold;
  font-size: 22px;
  font-family: "Krub", sans-serif;

}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Krub", sans-serif;
  /* color: #4e6fa4; */
  /* color: rgb(189, 186, 249); */
  color: white;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  /* color: #2d405f; */
  color: white;
  position: relative;
  padding-bottom: 12px;
}
.mail{
  color: white;
  font-size: 15px;
}
.mail:hover{
  text-decoration: underline;
  
  color: white;
  /* font-size: larger; */
}
#footer .footer-top .footer-links {
  margin-bottom: 10px;
}
/* .footer-links h4{
  font-size: 200px;
} */
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  /* color: #6c7afa; */
  color: white;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  /* margin-bottom: 15px;
  padding-bottom: 10px; */
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0px;
}
.address{
  display: flex;
}
.loc-icon{
  /* background-color: red; */
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
}
.loc-icon i{
  padding-top: 25px;
  margin-right: 20px;
  font-size: 40px;
  display: flex;
}
#footer .footer-top .footer-links ul a {
  color: white;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: underline;
  font-size: 19px;
  transition: 0.5s;
  /* color: #3b4ef8; */
  color: white;
}
#footer .footer-newsletter {
  font-size: 15px;
}
#footer .footer-newsletter h4 {
  padding-top: 20px;
  font-size: 22px;
  font-weight: bold;
  /* color: #2d405f; */
  color: white;
  position: relative;
  padding-bottom: 12px;
}
.stay{
  margin-top: -10px;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 2px 2px;
  position: relative;
  border-radius: 5px;
  text-align: left;
  border: 1px solid #9da7fc;
}
#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #2d405f;
  /* color: #fff;*/
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  color: white;
}
#footer .footer-newsletter form input[type="submit"]:hover {
  background: #949fff;
}
#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}
#footer .social-links{
  /* padding-left: -100px; */
  margin-left: -15px;
}
#footer .social-links a {
  font-size: 30px;
  display: inline-block;
  
  /* background: #e7eafe; */
  color: white;
  line-height: 1;
  padding: 2px;
  margin-right: 5px;
  /* text-align: left; */
  border-radius: 5px;
  text-align: center;
  width: 35px;
  height: 35px;
  transition: 0.3s;
}
#footer .social-links a:hover:nth-child(1){
  background-color: #4267B2;
  
}
#footer .social-links a:hover:nth-child(2){
  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
#footer .social-links a:hover:nth-child(3){
  background-color: #FF0000;
}
#footer .social-links a:hover:nth-child(4){
  background-color: #0e76a8;
}
#footer .social-links a:hover:nth-child(5){
  background-color: #1DA1F2;
}
#footer .social-links a:hover {
  /* background: #a7aeed; */
  /* background: #ebeda7; */
  /* color: #fff;*/
  text-decoration: none;
}

/* BUTTON SPECIAL */
/* CSS */
.button-register {
  appearance: button;
  backface-visibility: hidden;
  background-color: #3b4ef8;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  /* color: #fff;*/
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 50px;
  line-height: 50px;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}
/* 
.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
} */

.button-register:hover {
  transform: scale(1.02);
  background-color: #9da7fc;
}

/* INTERNSHIPS */
.internship-imgs {
  border-radius: 5px;
}
