*{
	margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
.header{
	min-height:100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7)),url(abc.jpeg.jfif);
	background-position: center;
	background-size: cover;
	position: relative;
}
nav
{
	display: flex;
	padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img 
{
	width: 150px;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li
{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a
{
	text-decoration: none;
	font-size: 13px;
}
.nav-links ul li::after
{
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after
{
   width: 100%;
   
}
.text-box
{
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1
{
	font-size: 62px;
}
.text-box p
{
	margin: 10px 0 40px;
	font-size: 14px;
}
.hero-btn
{
	display: inline-block;
	text-decoration: none;
	border: 1px solid ;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover
{
	border: 1px solid #f44336;
	background:#f44336 ;
	transition: 1s;
}
nav.fa{
	display: none;
}
@media(max-width: 700px)
{
	.text-box h1
{
	font-size: 20px;
}
.nav-links ul li
{
	display: block;
}
.nav-links {
	position: absolute;
	background: #f44336;
	height: 100vh;
	width: 200px;
	top: 0;
	right: -200px;
	text-align: left;
	z-index: 2;
	transition: 1s;
	}
}
	nav.fa{
		display: block;
		margin: 10px;
		color: #fff;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links ul{
		padding: 30px;
	}
.technical blog{
	width: 80%;
	margin: auto;
	padding-top: 100px;
}
h1{
	font-size: 36px;
	font-weight: 600;
}
p{
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
h1
{
	text-align: center;
}
p{
	text-align: center;
}
div{
	text-align: center;
}